/* Stilizacija za ion-header */
.ion-header-custom {
  --background: #ffffff; /* Pozadinska boja */
}

/* Stilizacija za ion-title */
.ion-title-custom {
  color:#ffffff; /* Boja teksta */
  text-size-adjust: 10px ;
}

/* Stilizacija za ion-content */
.ion-content-custom {
  --background: #ffffff; /* Pozadinska boja */
}
ion-content {
  --background: #ffffff; /* Pozadinska boja */
}
/* Stilizacija za ion-grid */
.ion-grid-custom {
  max-width: 600px; /* Maksimalna širina */
  margin: auto; /* Centriranje */
  padding: 20px; /* Unutrašnji razmak */
}

/* Stilizacija za .boom div */
.logoJob {
  margin-top: 20px; /* Gornji razmak */
  text-align: center; /* Centriranje sadržaja */
}


/* Stilizacija za ion-button */
ion-button {
  margin-top: 40px; /* Gornji razmak između dugmadi */
 
  
}
ion-toolbar {
  --background: rgb(231, 191, 13);
  margin-bottom: 0px;
  }
ion-toolbar, ion-tab-bar, ion-tab-button {

  background-color: rgb(224, 221, 5);

}
.description-text {
  color: black; /* Change text color to black */
  font-family: 'Verdana', sans-serif; /* Change font */
  font-size: 16px; /* Adjust font size */
  line-height: 1.5; /* Adjust line height for readability */
  text-align: center; /* Center align the text */
  margin-top: 20px; /* Add margin to the top */
  font-weight: bold;
}