<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-grid>
   <ion-row>
     <ion-col size-sm="6" offset-sm="3">
       <div class="logoJob">
         <img src="assets/images/jobFinderLogo.png" alt="logoJob">
       </div>
       <div class="about">
        Your Career Starts Here!<br>
        Welcome to Job Finder App, the premier platform for job seekers and employers. Whether you're looking for your first job or the next step in your career, we've got you covered.<br>
       </div>
     </ion-col>

   </ion-row>

 </ion-grid>


</ion-content>

