<ion-header [translucent]="true">
  <ion-toolbar>
   
   <!--  <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title class="ion-title-custom">Job Finder App</ion-title>
  
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-grid>
   <ion-row>
     <ion-col size-sm="4" offset-sm="2">
       <div class="logoJob">
         <img src="assets/images/jobFinderLogo.png" alt="logoJob">
       </div>
       <div class="about">
        <p class="description-text">
        Your Career Starts Here!<br>
      </p> 
      <p class="description-text1">
        Welcome to Job Finder App, the premier platform for job seekers and employers. Whether you're looking for your first job or the next step in your career, we've got you covered.<br>
      </p> 
      </div>
     </ion-col>

   </ion-row>

 </ion-grid>

 <ion-tabs content="main-content">
  <ion-tab-bar class="tab-bar">

    <ion-tab-button  routerLink="/mysuperheroes" class="tab-button">
      <ion-icon name="person"></ion-icon>
      My profile
    </ion-tab-button>
    <ion-tab-button routerLink="/favorites" class="tab-button">
      <ion-icon name="briefcase"></ion-icon>
      Jobs
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
 
</ion-content>
